.tabs {
  h2 {
    font-size: clamp(15px, 2vw, 24px);
  }
}

.border-bottom {
  width: 60%;
}

@media (max-width: 570px) {
  .border-bottom {
    width: 100%;
  }
}

.card-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .cards {
    width: calc(45% - 10px);
    min-width: 160px;
    height: auto;
  }

  .cards h3 {
    font-size: 16px;
  }

  .cards p {
    font-size: 14px;
    width: 90% !important;
    margin: auto;
  }
  .cards i {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .cards {
    width: 90%;
    margin: 0 auto;
  }

  .group-hover\:opacity-100 {
    font-size: 15px;
  }
}
