.bg-image {
  background-image: url("/src/assets/img/s3-1.webp");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 911px) {
  .bg-image {
    gap: 20px;
  }
  .bg-image h1 {
    font-size: 45px;
  }
  .bg-image p {
    font-size: 20px;
  }
  .bg-image button {
    font-size: 12px;
  }
}
@media (max-width: 412px) {
  .bg-image {
    gap: 15px;
  }
  .bg-image h1 {
    font-size: 35px;
  }
  .bg-image p {
    font-size: 15px;
  }
  .bg-image button {
    font-size: 10px;
    padding: 12px 15px;
    font-weight: 600;
  }
}

@media (max-width: 912px) {
  .bg-main {
    position: relative;
    bottom: 165px;
  }
}
@media (max-width: 1024px) {
  .bg-main {
    position: relative;
    bottom: 70px;
  }
}
@media (max-width: 820px) {
  .bg-main {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 768px) {
  .bg-main {
    position: relative;
    bottom: 30px;
  }
}
