@media (max-width: 945px) {
  .free-ship-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .free-ship-line p {
    font-size: 12px;
  }

  .currency-item,
  .language-item,
  .compare-item {
    display: none;
  }

  .newsletter {
    display: flex;
  }
}

.free-ship-line p {
  font-size: clamp(10px, 5vw, 12px);
}

.compare i {
  font-size: 14px;
}

.newsletter i {
  font-size: 14px;
}
